body {
margin:0;
background: #61A5C2;
}
.header-menu-items{
display: flex;
justify-content: space-around;
list-style-type: none;
font-size: 25px;
color: #A9D6E5;
} 

/* .header-menu-items nav-links:hover {
font-size: 200px;
} */

/* .header-section {
background: #2C7DA0;
border: 1px solid rgb(78, 69, 69);
}  */
li {
    color: red;
}
li:hover{
    font-size: 35px;
}
.header-section {
    display: row;
    position: absolute;
}
